@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    video {
        width: 100%;
    }
}

body {
    background-image: url(../img/bg3.png);
    background-size: cover;
}

.carousel-inner {
    background-image: url(../img/bg3.png);
    background-size: cover;
    .carousel-item {
        display: flex;
        justify-content: center;
    }
}